/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #16151a;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* - Framework - */
.b_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt_left {
  text-align: left;
}

/* | HEADER | */
header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/hobbit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header nav {
  width: 100%;
  height: 120px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

header nav .header_logo img {
  height: 45px;
}

header nav .main_nav {
  height: 100%;
  line-height: 100px;
  position: relative;
}

header nav .main_nav li {
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}

header nav .main_nav li:not(:last-child) {
  margin-right: 55px;
}

header nav .main_nav li:hover {
  border-bottom: 2px solid #dc1a28;
}

header nav .user_nav i {
  font-size: 1.2em;
  margin-right: 55px;
  cursor: pointer;
}

header nav .user_nav .user_icon {
  width: 35px;
  height: 35px;
  background: #dc1a28;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* + JUMBOTRON + */
header .jumbotron {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    29deg,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* | MAIN | */
main {
  width: 100%;
}

.casual_list,
.search_list {
  color: #4d4c51;
  font-weight: 600;
}

hr {
  background: #4d4c51;
  height: 3px;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  width: 83%;
}

main h3 {
  text-align: left;
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

/* + Scelta filtro lista + */
.box_title {
  font-size: 1.5em;
  padding: 50px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_title .title {
  position: relative;
  cursor: pointer;
}

.box_title .title.active::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #dc1a28;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.box_title i {
  margin-right: 20px;
}

.box_title input {
  height: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

/* + Contenitore films + */
.casual_list .list_container {
  margin: 30px 0 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.list_container .list_box {
  width: calc(100% / 6);
  padding: 20px;
  margin-right: 10px;
  text-align: center;
}

.list_box img {
  height: 280px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.list_box .list_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_box .list_details p:last-child {
  color: #ffb500;
}

.stars {
  background: #ffb500;
  background-clip: text;
  -webkit-text-stroke: 0.5px #ffb500;
  color: transparent;
  display: flex;
}

/* + Area ricerca Film / Serie + */
.search_list {
  padding: 0 100px;
}

.search_list hr {
  width: 95%;
}
/* + Contenitore Films + */
.search_list .list_container {
  margin: 30px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search_list .list_container .list_box {
  width: calc(100% / 5 - 10px);
  padding: 20px 40px;
  text-align: center;
  position: relative;
}

.list_container .list_box .img_box {
  position: relative;
  transition: all 0.5s linear;
}

.list_container .list_box .img_box .details_box {
  width: 91%;
  height: 94%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(5%);
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.img_box .details_box img {
  height: 20px;
}

.img_box .details_box h4 {
  font-size: 0.7em;
  color: #ffb500;
}

.img_box .details_box h5 {
  font-size: 0.6em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 10px;
}
