<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Benvenuto su BoolFlix | Cerca la tua Serie TV o film preferito</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Link Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800;900&display=swap" rel="stylesheet">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Link AXIOS/AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main_container" id="app">

        <!-- | HEADER | -->
        <header>

            <!-- + MENU NAVIGAZIONE FIXED + -->
            <nav>
                <!-- Logo Header -->
                <div class="header_logo b_flex">
                    <img src="img/boolflix_logo.png" alt="Netflix logo"/>
                </div>
                <!-- Main menu -->
                <div class="main_nav">
                    <ul>
                        <li v-for="element in navMenu"><a href="#"> {{element}} </a></li>
                    </ul>
                </div>
                <!-- Icone ricerca e utente -->
                <div class="user_nav b_flex">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-bell"></i>
                    <div class="user_icon"></div>
                </div>
            </nav>

            <!-- + JUMBOTRON + -->
            <section class="jumbotron"></section>
        </header>

        <!-- | MAIN | -->
        <main>

            <!-- + Lista film ordinati per popolarità senza query + -->
            <section class="casual_list">

                <!-- Scelta filtro lista -->
                <div class="box_title">
                    <div v-for="(element, index) in casualListFilter" class="title" :class="(casualListFilterCounter == index)?'active':''" @click="casualListFilterCounter = index">
                        <i :class="element.icon"></i>
                        <span> {{element.name}} </span>
                    </div>
                </div>
                <hr>

                <!-- Contenitore films -->
                <div class="list_container">
                    <div v-for="film in trendsNow" class="list_box">
                        <img :src="baseImgUrl + imgSize + film.poster_path" :alt="film.title">
                        <h3>{{film.title}}</h3>
                        <div class="list_details">
                            <p>{{film.release_date.slice(0,4)}}</p>
                            <i class="fas fa-heart"></i>
                            <div class="stars_box">
                                <div class="stars" :style="{width: (film.vote_average * 10) + '%'}">
                                    <i v-for="i in 5" class="fas fa-star"></i>
                                </div>
                            </div>
                            <p>{{film.vote_average}} </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- + Area ricerca Film / Serie + -->
            <section class="search_list">

                <!-- Scelta filtro lista -->
                <div class="box_title">
                    <div v-for="(element, index) in contentList" class="title" :class="(contentListCounter == index)?'active':''" @click="contentListCounter = index">
                        <i :class="element.icon"></i>
                        <span> {{element.name}} </span>
                    </div>
                    <div class="src_title">
                        <i @click="textSearch = !textSearch" class="fas fa-search"></i>
                        <input type="text" v-if="textSearch" v-model="filmScr" @keyup.enter="(contentListCounter == 0)?findFilm():findTV()" :placeholder="'Cerca in ' + contentList[contentListCounter].name">
                        <span v-else>Ricerca</span>
                    </div>
                </div>
                <hr>

                <!-- Contenitore films -->
                <div class="list_container">
                    <!-- Ciclo elementi in array principale -->
                    <div v-for="(film, index) in filmList" class="list_box">
                        <div class="box">
                            <!-- Immagini con descrizioni on hover -->
                            <div class="img_box">
                                <!-- Immagine non disponibile -->
                                <img v-if="film.poster_path == null" src="img/null.png" alt="Immagine non disponibile">
                                <!-- Immagine film -->
                                <img v-else @mouseover="detailsIndex = index" :src="baseImgUrl + imgSize + film.poster_path" :alt="film.title">
                                <!-- Sezione descrizione film on hover -->
                                <div v-if="detailsIndex == index" class="details_box">
                                    <!-- Bandiera lingua film -->
                                    <img :src="'img/' + film.original_language + '.svg'" :alt="film.original_language">
                                    <!-- Overview -->
                                    <h4 class="txt_left">Descrizione</h4>
                                    <h5 v-if="film.overview == ''" class="txt_left">Momentaneamente non disponibile</h5>
                                    <h5 v-else class="txt_left">{{film.overview}}</h5>
                                    <!-- Cast -->
                                    <h4 class="txt_left">Cast</h4>
                                    <h5 v-if="film.cast == ''" class="txt_left">Momentaneamente non disponibile</h5>
                                    <h5 v-else class="txt_left">{{film.cast}}</h5>
                                </div>
                            </div>
                            <!-- Titolo film -->
                            <h3 v-if="film.name == undefined">{{film.title}}</h3>
                            <!-- Titolo serie TV -->
                            <h3 v-else>{{film.name}}</h3>
                            <!-- Sezione dettagli principali visibili sotto copertina film -->
                            <div class="list_details">
                                <!-- Anno produzione film -->
                                <p v-if="film.first_air_date == undefined">{{film.release_date.slice(0,4)}}</p>
                                <!-- Anno produzione serie TV -->
                                <p v-else>{{film.first_air_date.slice(0,4)}}</p>
                                <!-- Aggiungi ai preferiti -->
                                <i class="fas fa-heart"></i>
                                <!-- Stelle votazione -->
                                <div class="stars_box">
                                    <div class="stars" :style="{width: (film.vote_average * 10) + '%'}">
                                        <i v-for="i in 5" class="fas fa-star"></i>
                                    </div>
                                </div>
                                <!-- Voto numerico -->
                                <p>{{film.vote_average}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    
        <!-- FOOTER -->
        <footer>
            
        </footer>
    </div>

    <!-- Link Script Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>